<div class="text-center">
    <img class="rounded p-3"
        src="https://thuthuatnhanh.com/wp-content/uploads/2019/07/anh-girl-xinh-facebook-tuyet-dep-387x580.jpg"
        alt="John" style="width:60%">

    <p><b>Nhat Tran</b></p>
    <p>
        <span>
            <i class="fa fa-envelope-o" aria-hidden="true">
            </i>
            ai.nhattv@gmail.com</span>
    </p>

    <div class="border border-white">
        <div class="d-flex justify-content-around p-2">
            <a>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
            <a>
                <i class="fa fa-medium" aria-hidden="true">
                </i>
            </a>
            <a>
                <i class="fa fa-linkedin" aria-hidden="true">
                </i>
            </a>
        </div>
    </div>
</div>

@code{

}